div#header{
	background-image: url(https://www.rubios.com/sites/default/files/banners/Ingredients_Feature.jpg);
}

#leftNav{
	margin-left: -2%;
	background-color: #eeeeee;
}

#rightNav{

<<<<<<< HEAD
}
=======
}
>>>>>>> 61da51e605e5c69d6b43499495a67e27ad299a4a
