<template name="layout">

	<div class="container">
		<div class="row" id="header">
			<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
			<h1>Chef's Assistant</h1>
		</div>
		<br>
		<ul class="nav nav-pills nav-stacked col-md-3">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}">Home</a>
  			</li>
  			<li role="presentation">
  				<a href="/myProfile">My Profile</a>
  			</li>
 			 <li role="presentation">
 			 	<a href="/myShopping">My Shopping List</a>
 			 </li>
 			 <li role="presentation">
 			 	<a href="/myFridge">My Fridge Items</a>
 			 </li>
			<li role="presentation">
 			 	<a href="/myPlanned">My Planned Meals</a>
 			 </li>
 			 <li role="presentation">
 			 	<a href="/myFav">My Favorite Recipes</a>
 			 </li>
 			 <li role="presentation">
 			 	<a href="/friendFav">My Friend's Favorite Recipes</a>
 			 </li>
 			 <li role="presentation">
 			 	<a href="/about">About</a>
 			 </li>
 			 <li>
 			 	{{> loginButtons}}
 			 </li>
		</ul>

	{{> yield}}
	<ul class = "nav nav-pills nav-stacked col-md-2">
		<li role ="presentation">
			hi
		</li>
	</ul>

	</div>
</template>
