div#header{
	background-image: url(https://www.rubios.com/sites/default/files/banners/Ingredients_Feature.jpg);
	height:190px;
}

#leftNav{
	margin-left: -2%;
	background-color: #eeeeee;
}

t{
	font-family: cursive;
	font-size: 130px;
	color:#ff9900;
}
