/*#nutritionfacts{
    background-color:white; 
    border:1px solid black; 
    padding:3px; width:244px;
}
#nutritionfacts td { 
    color:black; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:8pt; 
    padding:0; 
}
#nutritionfacts td.header { 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
    font-size:28px; 
    white-space:nowrap; 
}        
#nutritionfacts div.label { 
    float:left; 
    font-family:'Arial Black','Helvetica Bold',sans-serif; 
}
#nutritionfacts div.serving { 
    font-family:Arial,Helvetica,sans-serif; 
    font-size:8pt; 
    text-align:center; 
}*/

