table {
  border-collapse: collapse;
  color: #4a4a4d;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  table-layout: fixed;
}
th, td {
  border: 1px solid #4a4a4d;
  max-width: 200px;
  max-height:100px;
  padding: 10px 10px;
}