top{
  font-size: 40px;
  font-family: cursive;
  text-align: center;
}

d{
  font-size: 20px;
  font-family: "Tahoma, Geneva, sans-serif";
}

x{
  font-size: 15px;
  color:red
}

y{
  font-size:15px;
  font-family: Tahoma, Geneva, sans-serif

}

#box{
    border: 2px solid powderblue;
    padding: 5px;
    width: 500px;
}

#box2{
    border: 2px solid powderblue;
    padding: 5px;
    width: 60px;

}


#diets{
  padding: 20px;
}

#healthyOptions{
  padding: 20px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
